.footer {
	margin-top: 5%;
}

.bestOffersCont {
	margin-bottom: 0;
}

.sectionHeaderEurope {
	margin-top: 2%;
}

.currentMenuIteam1 {
    font-weight: normal;

}
.currentMenuIteam2 {
    font-weight: 900;
}